  <i class="fas fa-mortar-pestle fa-5x text-center my-2"></i>
    <h4 class=>Pedidos</h4>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Hola {{this.data.nombre}}</a>
      <div id="my-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-secondary" href="/login" onclick="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </nav>