<div class="container col-sm-12 col-md-6">
   
</div>
<div class="col-sm-12 col-md-6 m-auto mt-5">
<form action="/" method="post" class="form px-5 py-3 m-auto card text-center wrapper">
{{>nav}}
       <h3>Token Invalido o Expirado</h3>
</form>
</div>



