<div class="container col-sm-12 col-md-4  m-auto mt-5">
    <form  class="px-5  py-3 m-auto card text-center wrapper">
        <i class="fas fa-mortar-pestle fa-5x text-center my-2"></i>
        
        <h4 class=>Iniciar Sesión</h4>
        <div class="input-group mb-3">
            <span class="input-group-text " id="inputGroup-sizing-default"><i class="fas fa-id-card"></i></span>
            <input type="text" class="form-control" placeholder="Ingrese su Email" aria-label="Username" name="rut" id="emailLogin"
                value="" />
        </div>
    
        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default"><i
                    class="fas fa-key"></i></span>
            <input type="password" class="form-control" placeholder="Ingrese su clave" aria-label="Username" name="password" id="passwordLogin"
                value="" />
        </div>
    
        <button type="submit" class="btn btn-light w-50 m-auto verificar" data-mdb-ripple-color="dark" onclick="verificar()">Ingresar</button>
        <a href="/registro" class="mt-2">Registrarme</a>
    </form>
</div>