<div class="col-sm-12 col-md-6 m-auto mt-5">
<form action="/users" method="post" class="form px-5 py-3 m-auto card text-center wrapper">
 {{>nav}}

 <H1>{{this.name}}</H1>

  <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center w-25">VEGETARIANO</span>
        <input class="form-control" type="number" placeholder="Ingrese cantidad" name="vegetariano" id="vegetariano" value="" />
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center w-25">CALORICO</span>
        <input class="form-control" type="number" placeholder="Ingrese cantidad" name="calorico" id="calorico" value="" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center w-25">CELIACO</span>
        <input class="form-control" type="number" placeholder="Confirme su clave" name="celiaco" id="celiaco"
            value="" />
    </div>
     <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center w-25">AUTOCTONO</i></span>
        <input class="form-control" type="number" placeholder="Ingrese cantidad" name="autoctono" id="autoctono" value="" />
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center w-25">ESTANDAR</span>
        <input class="form-control" type="number" placeholder="Ingrese cantidad" name="estandar" id="estandar" value="" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center w-25">FECHA</span>
        <input class="form-control" type="date"  name="fecha" id="fecha"
            value="" />
    </div>
     <button type="submit" class="btn btn-secondary w-25 m-auto verificar" data-mdb-ripple-color="dark" onclick="newOrder()">Guardar</button>
</form>
</div>